body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

div {
    margin: 0;
    padding: 0;
}

a {
  color: #333;
}

div#left {
    float: left;
    width: 250px;
}

div#tags {
    width: 100%;
    height: 400px;
    overflow: auto;
}

div#tags ul.semantics, div#documents ul.tags {
    margin: 5px;
    padding: 0;
}

div#tags ul.semantics li, div#documents ul.tags li {
    float: left;
    margin: 2px;
    padding: 2px;
    list-style-type: none;
    font-size: 16px;
    line-height: 16px;
    height: 16px;
    border: 1px solid #eee;
    color: #646664;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
    background-color: #fff;
}

div#tags ul.semantics li span, div#documents ul.tags li span {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: transparent url(../images/ui-icons.png) no-repeat -96px -128px;
    margin: 0;
    padding: 0;
}

div#tags ul.semantics li span {
    /*background-image: url(../images/plus.png);*/
    background-position: -32px -128px;
}

div#documents {
    float: left;
    width: 600px;
}

div#documents hr,
div#tags hr
{
    clear: both;
    border: none;
    border-bottom: 1px solid #ddd;
    height: 6px;
    background-color: transparent;
    margin-bottom: 5px;
}

div#tags hr {
    border-color: #fff;
}

div#dropArea {
    width: 230px;
    height: 50px;
    border-radius: 7px;
    margin: 10px;
    background-color: #ddd;
    overflow: hidden;
    position:relative;
}
div#dropArea span {
    position: absolute;
    bottom: -14px;
    left: -3px;
    color: #fff;
    font-size: 53px;
    font-weight: bold;
}
div#dropArea.on span {
    color: #888;
}

#tags input {
    width: 242px;
    border: 1px solid #ddd;
    padding: 2px;
    margin: 2px;
    font-size: 10px;
}

nav {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #888;
    height: 22px;
}
nav ul {
    margin: 0;
    padding: 0;
}
nav ul li {
    list-style-type: none;
    float: left;
    height: 22px;

    border-right: 1px solid #888;
    border-radius: 22px;
    margin: 0;
    line-height: 22px;
    padding: 0 22px 0 22px;
}
