!!!5
html
  head
    title= 'docs'
    link(rel='stylesheet', href='/stylesheets/jquery.treeview.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-1.2.0.min.css')
    link(rel='stylesheet', href='/stylesheets/backbone-forms.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/libs/jquery.min.js')
    script(src='/javascripts/libs/jquery.tmpl.min.js')
    script(src='/javascripts/libs/jquery.treeview.js')
    script(src='/javascripts/libs/jquery.serializeobject.js')
    script(src='/javascripts/libs/underscore-min.js')
    script(src='/javascripts/libs/backbone-min.js')
    script(src='/javascripts/libs/jquery-ui-editors.js')
    script(src='/javascripts/libs/backbone-forms.js')
    script(src='/javascripts/main.js')
  body!= body